---
import FAIcon from "./FAIcon.astro";
import { faGithubSquare } from "@fortawesome/free-brands-svg-icons/faGithubSquare";
import { faLinkedin } from "@fortawesome/free-brands-svg-icons/faLinkedin";
import { faSquareCaretDown } from "@fortawesome/free-regular-svg-icons/faSquareCaretDown";
import { faWindowMaximize } from "@fortawesome/free-regular-svg-icons/faWindowMaximize";

export interface Props {
    info: Basics;
}

function getNetworkIcon(network: string) {
    switch (network.toLowerCase()) {
        case "github":
            return faGithubSquare;
        case "linkedin":
            return faLinkedin;
        default:
            return faWindowMaximize;
    }
}

const {
    info: {
        label,
        location: { city, countryCode, region },
        name,
        profiles,
        url,
    },
} = Astro.props;

const allProfiles = [...profiles];
if (url) {
    allProfiles.push({
        network: "website",
        url,
        username: "",
    });
}
---

<section class="hero relative min-h-screen" id="basics">
    <div class="hero-content">
        <div class="max-w-md">
            <h1 class="mb-1">{name}</h1>
            <div class="leading-tight">{label}</div>
            <div class="leading-tight">
                {`${city}, ${region}, ${countryCode}`}
            </div>
            <div class="mt-2 flex">
                {
                    allProfiles.map(({ network, url }) => (
                        <a href={url} rel="noopener noreferrer" target="_blank">
                            <FAIcon
                                className="mx-2 h-6 hover:text-primary-focus hover:shadow-lg hover:shadow-primary-focus/25"
                                icon={getNetworkIcon(network)}
                            />
                            <span class="sr-only">{network}</span>
                        </a>
                    ))
                }
            </div>
        </div>
    </div>
    <a class="absolute bottom-0" href="#experience">
        <FAIcon
            className="hover:text-primary-focus hover:shadow-primary-focus/25 mb-2 h-8 animate-bounce hover:shadow-lg"
            icon={faSquareCaretDown}
        />
        <span class="sr-only">Scroll to content</span>
    </a>
</section>
<div class="divider"></div>
