---
import DateRange from "./DateRange.astro";

export interface Props {
    education: School[];
}

const { education } = Astro.props;
---

<section class="container mx-auto p-4 text-neutral-100">
    <h1 class="text-4xl font-bold tracking-tight mb-4">Education</h1>
    {
        education.map(
            ({
                institution,
                url,
                area,
                studyType,
                startDate,
                endDate,
                score,
                images,
            }) => (
                <div class="flex mb-4 gap-4 flex-col md:flex-row">
                    <div class="flex-none w-48 flex flex-row md:flex-col justify-center gap-4 mx-auto">
                        {images.map((picturePath, index) => (
                            <img
                                class="object-cover rounded-xl"
                                alt={`${institution} logo ${index}`}
                                loading="lazy"
                                src={picturePath}
                            />
                        ))}
                    </div>
                    <div class="flex-auto p-8 rounded-xl bg-neutral-200 text-slate-800">
                        <div class="text-right">
                            <DateRange
                                endDate={endDate}
                                startDate={startDate}
                            />
                        </div>
                        <h1 class="text-xl text-slate-800/95 font-bold">
                            <a
                                href={url}
                                rel="noopener noreferrer"
                                target="_blank"
                            >
                                {institution}
                            </a>
                        </h1>
                        <h2 class="text-emerald-800 text-lg font-semibold">{`${studyType} of ${area}`}</h2>
                        <p class="m-4">{`GPA: ${score}`}</p>
                    </div>
                </div>
            )
        )
    }
</section>
