---
import DateRange from "./DateRange.astro";
import FAIcon from "./FAIcon.astro";
import { Image } from "astro:assets";
import { faSquareCaretUp } from "@fortawesome/free-regular-svg-icons/faSquareCaretUp";

export interface Props {
    education: School[];
}

const { education } = Astro.props;
---

<section class="container mx-auto pt-1" id="education">
    <h2 class="font-bold">Education</h2>
    {
        education.map(
            ({
                institution,
                url,
                area,
                studyType,
                startDate,
                endDate,
                score,
                images,
            }) => (
                <div class="mb-4 flex flex-col gap-4 md:flex-row">
                    <div class="mx-auto flex flex-none flex-row justify-center gap-4 md:flex-col">
                        {images.map((picturePath, index) => (
                            <Image
                                alt={`${institution} logo ${index}`}
                                class="max-w-[192px] rounded-xl object-cover"
                                height="192"
                                loading="lazy"
                                src={picturePath}
                                width="192"
                            />
                        ))}
                    </div>
                    <div class="card bg-base-100 flex-auto shadow-xl">
                        <div class="card-body">
                            <div class="card-actions justify-end">
                                <DateRange
                                    endDate={endDate}
                                    startDate={startDate}
                                />
                            </div>
                            <h1 class="card-title my-0 text-2xl leading-tight">
                                <a
                                    href={url}
                                    rel="noopener noreferrer"
                                    target="_blank"
                                >
                                    {institution}
                                </a>
                            </h1>
                            <h2 class="card-title my-0 leading-tight">{`${studyType} of ${area}`}</h2>
                            <p>{`GPA: ${score}`}</p>
                        </div>
                    </div>
                </div>
            ),
        )
    }
    <a class="flex justify-end" href="#basics">
        <FAIcon
            className="hover:text-primary-focus hover:shadow-primary-focus/25 mb-2 h-8 animate-pulse hover:shadow-lg"
            icon={faSquareCaretUp}
        />
        <span class="sr-only">Scroll to top</span>
    </a>
</section>
<div class="divider"></div>
