---
import DateRange from "./DateRange.astro";
import FAIcon from "./FAIcon.astro";
import { Image } from "@astrojs/image/components";
import { faSquareCaretUp } from "@fortawesome/free-regular-svg-icons/faSquareCaretUp";

export interface Props {
    education: School[];
}

const { education } = Astro.props;
---

<section class="container mx-auto p-4 text-neutral-100" id="education">
    <h1 class="text-4xl font-bold tracking-tight mb-4">Education</h1>
    {
        education.map(
            ({
                institution,
                url,
                area,
                studyType,
                startDate,
                endDate,
                score,
                images,
            }) => (
                <div class="mb-4 flex flex-col gap-4 md:flex-row">
                    <div class="mx-auto flex w-48 flex-none flex-row justify-center gap-4 md:flex-col">
                        {images.map((picturePath, index) => (
                            <Image
                                alt={`${institution} logo ${index}`}
                                class="w-full rounded-xl object-cover"
                                format="webp"
                                height="192"
                                loading="lazy"
                                src={picturePath}
                                width="192"
                            />
                        ))}
                    </div>
                    <div class="flex-auto rounded-xl bg-neutral-200 p-8 text-slate-800">
                        <div class="text-right">
                            <DateRange
                                endDate={endDate}
                                startDate={startDate}
                            />
                        </div>
                        <h1 class="text-xl font-bold text-slate-800/95">
                            <a
                                href={url}
                                rel="noopener noreferrer"
                                target="_blank"
                            >
                                {institution}
                            </a>
                        </h1>
                        <h2 class="text-lg font-semibold text-emerald-800">{`${studyType} of ${area}`}</h2>
                        <p class="m-4">{`GPA: ${score}`}</p>
                    </div>
                </div>
            )
        )
    }
    <a aria-label="Scroll to the top" class="text-right flex justify-end" href="#basics">
        <FAIcon
            className="animate-pulse h-8 text-emerald-200 hover:text-emerald-200 hover:shadow-lg hover:shadow-emerald-200/25"
            icon={faSquareCaretUp}
        />
    </a>
</section>
