---
import DateRange from "./DateRange.astro";
import { Image } from "@astrojs/image/components";

export interface Props {
    work: Job[];
}

function removeParenthesis(name: string) {
    return name.replace(/ *\([^)]*\) */g, "");
}

const { work } = Astro.props;
---

<section class="container mx-auto p-4 text-neutral-100">
    <h1 class="text-4xl font-bold tracking-tight mb-4">Experience</h1>
    {
        work.map(
            ({
                name,
                position,
                url,
                startDate,
                endDate,
                summary,
                highlights,
                images,
            }) => (
                <div class="mb-4 flex flex-col gap-4 md:flex-row">
                    <div class="mx-auto flex w-48 flex-none flex-row justify-center gap-4 md:flex-col">
                        {images.map((picturePath, index) => (
                            <Image
                                alt={`${name} logo ${index}`}
                                class="w-full rounded-xl object-cover"
                                format="webp"
                                height="192"
                                loading="lazy"
                                src={picturePath}
                                width="192"
                            />
                        ))}
                    </div>
                    <div class="flex-auto rounded-xl bg-neutral-200 p-8 text-lg text-slate-800">
                        <div class="text-right">
                            <DateRange
                                endDate={endDate}
                                startDate={startDate}
                            />
                        </div>
                        <h1 class="text-2xl font-bold text-slate-800/95">
                            <a
                                href={url}
                                rel="noopener noreferrer"
                                target="_blank"
                            >
                                {removeParenthesis(name)}
                            </a>
                        </h1>
                        <h2 class="text-xl font-semibold text-emerald-800">
                            {position}
                        </h2>
                        <p class="m-4">{summary}</p>
                        <div class="m-4">
                            <ul class="list-inside list-disc">
                                {highlights.map((highlight) => (
                                    <li>{highlight}</li>
                                ))}
                            </ul>
                        </div>
                    </div>
                </div>
            )
        )
    }
</section>
