---
import DateRange from "./DateRange.astro";

export interface Props {
    work: Job[];
}

function removeParenthesis(name: string) {
    return name.replace(/ *\([^)]*\) */g, "");
}

const { work } = Astro.props;
---

<section class="container mx-auto p-4 text-neutral-100">
    <h1 class="text-4xl font-bold tracking-tight mb-4">Experience</h1>
    {
        work.map(
            ({
                name,
                position,
                url,
                startDate,
                endDate,
                summary,
                highlights,
                images,
            }) => (
                <div class="flex mb-4 gap-4 flex-col md:flex-row">
                    <div class="flex-none w-48 flex flex-row md:flex-col justify-center gap-4 mx-auto">
                        {images.map((picturePath, index) => (
                            <img
                                class="object-cover rounded-xl"
                                alt={`${name} logo ${index}`}
                                loading="lazy"
                                src={picturePath}
                            />
                        ))}
                    </div>
                    <div class="flex-auto p-8 rounded-xl bg-neutral-200 text-slate-800 text-lg">
                        <div class="text-right">
                            <DateRange
                                endDate={endDate}
                                startDate={startDate}
                            />
                        </div>
                        <h1 class="text-2xl text-slate-800/95 font-bold">
                            <a
                                href={url}
                                rel="noopener noreferrer"
                                target="_blank"
                            >
                                {removeParenthesis(name)}
                            </a>
                        </h1>
                        <h2 class="text-emerald-800 text-xl font-semibold">
                            {position}
                        </h2>
                        <p class="m-4">{summary}</p>
                        <div class="m-4">
                            <ul class="list-disc list-inside">
                                {highlights.map((highlight) => (
                                    <li>{highlight}</li>
                                ))}
                            </ul>
                        </div>
                    </div>
                </div>
            )
        )
    }
</section>
