---
import DateRange from "./DateRange.astro";
import FAIcon from "./FAIcon.astro";
import { Image } from "@astrojs/image/components";
import { faSquareCaretUp } from "@fortawesome/free-regular-svg-icons/faSquareCaretUp";

export interface Props {
    work: Job[];
}

function removeParenthesis(name: string) {
    return name.replace(/ *\([^)]*\) */g, "");
}

const { work } = Astro.props;
---

<section class="container mx-auto pt-1" id="experience">
    <h2 class="font-bold">Experience</h2>
    {
        work.map(
            ({
                name,
                position,
                url,
                startDate,
                endDate,
                summary,
                highlights,
                images,
            }) => (
                <div class="mb-4 flex flex-col gap-4 md:flex-row">
                    <div class="max-w-48 mx-auto flex flex-none flex-row justify-center gap-4 md:flex-col">
                        {images.map((picturePath, index) => (
                            <Image
                                alt={`${name} logo ${index}`}
                                class="w-full rounded-xl object-cover"
                                format="webp"
                                height="192"
                                loading="lazy"
                                src={picturePath}
                                width="192"
                            />
                        ))}
                    </div>
                    <div class="card flex-auto bg-base-100 shadow-xl">
                        <div class="card-body">
                            <div class="card-actions justify-end">
                                <DateRange
                                    endDate={endDate}
                                    startDate={startDate}
                                />
                            </div>
                            <h3 class="card-title my-0 text-2xl leading-tight">
                                <a
                                    href={url}
                                    rel="noopener noreferrer"
                                    target="_blank"
                                >
                                    {removeParenthesis(name)}
                                </a>
                            </h3>
                            <h4 class="card-title my-0 leading-tight">
                                {position}
                            </h4>
                            <div>{summary}</div>
                            <div>
                                <ul class="my-1 list-disc">
                                    {highlights.map((highlight) => (
                                        <li class="my-0">{highlight}</li>
                                    ))}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            )
        )
    }
    <a class="flex justify-end" href="#basics">
        <FAIcon
            className="mb-2 h-8 animate-pulse hover:text-primary-focus hover:shadow-lg hover:shadow-primary-focus/25"
            icon={faSquareCaretUp}
        />
        <span class="sr-only">Scroll to top</span>
    </a>
</section>
<div class="divider"></div>
